[build-system]
requires = ["setuptools"]

[project]
name = "peptacular"
authors = [
    {name = "Patrick Garrett", email = "pgarrett@scripps.edu"},
]
description = "A spectacularly simple package for working with peptide sequences."
readme = "README.md"
requires-python = ">=3.8"
dynamic = ["version"]
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
"regex",
]

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.package-data]
peptacular = ["*.obo", "chem.txt"]

[project.urls]
repository = "https://github.com/pgarrett-scripps/peptacular.git"

[tool.setuptools.dynamic]
version = {attr = "peptacular.__version__"}

[tool.pylint]
max-line-length = 120
fail-under = 9.0
good-names = ["db", "i", "j", "aa", "n", "k", "p", "Na", "Nb", "Nc", "Nx", "Ny", "Nz", "mz", "k", "v",
    "f", "d", "m", "s", "r", "c", "id", "d1", "d2"]
extension-pkg-whitelist = 'pydantic'
max-branches = 50  # Increase the number of allowed branches
max-locals = 30    # Increase the number of allowed local variables
max-attributes = 50 # Increase the number of allowed attributes
max-statements = 100  # Increase the number of allowed statements in a function
max-args = 10  # Increase the number of allowed arguments in a function
