[build-system]
requires = ["setuptools"]

[project]
name = "peptacular"
authors = [
    {name = "Patrick Garrett", email = "pgarrett@scripps.edu"},
]
description = "Utility package for handling peptide and protein sequences"
readme = "README.md"
requires-python = ">=3.8"
dynamic = ["version"]
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "regex",
]

[tool.setuptools]
package-dir = {"" = "src"}

[project.urls]
repository = "https://github.com/pgarrett-scripps/peptacular.git"

[tool.setuptools.dynamic]
version = {attr = "peptacular.__version__"}

[tool.pylint]
max-line-length = 120
fail-under = 9.5
good-names = ["db"]
extension-pkg-whitelist='pydantic'
